<!DOCTYPE html>
<!--Date: 2020/12/21 Author: AKDA Time Started: 10.32pm-->
<!--day 2: 23/12/2020 3.13 start-->
<html>
<head>
    <title>Adewumi David</title>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/3e9f61bf13.js" crossorigin="anonymous" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="javascript-developer, nodejs-developer, react-developer, nextjs-developer, software engineer, adewumi david, bells university of technology, AKDA">
    <meta name="author" content="Adewumi David Adewale">
    <meta name="description" content="Welcome to my website. I am a web developer with experience working with Node.js, React.js, Next.js, Vue.js, Nuxt.js, Express, MongoDb, and Tailwind for CSS-processing">
    
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/nav.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/stylesheets/style.css">
    
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">

    <!-- scripts -->
    <script src="/scripts/main.js" defer></script>
    <script src="/scripts/contact.js" defer></script>
</head>
<body class="lg:h-screen">
    <div class=" bg-black text-white  p-4 lg:w-full lg:grid lg:grid-cols-8 lg:h-[36.25rem]  border border-red-600">
            <header class="grid grid-cols-2 gap-0 lg:col-start-1 lg:col-end-3 lg:col-span-2 lg:w-10/12 lg:block lg:border lg:border-dotted ">
                <div class="icon py-2 "><img src="/images/blackbg-me.png" alt="" class="w-28 m-auto rounded-full lg:rounded-none lg:w-10/12 lg:h-72"></div>
                <div class="header-link flex flex-col justify-center items-center  border-l border-white border-dotted lg:col-start-1 lg:col-end-2 lg:flex-row lg:border-0">
                    <a href="#" id="fb" class="contact-link py-2 lg:px-2"><i class="fab fa-facebook-f text-white fa-lg"></i></a>
                    <a href="https://github.com/protege47007" id="git" class="contact-link py-2 lg:px-2"><i class="fab fa-github text-white fa-lg"></i></a>
                    <a href="https://www.linkedin.com/in/david-adewumi-42a9ab112/" id="linkedin" class=" contact-link py-2 lg:px-2"><i class="fab fa-linkedin-in text-white fa-lg"></i></a>
                    <a href="/contact"  class=" contact-link py-2 lg:px-2"><i class="fas fa-envelope text-white fa-lg"></i></a>
                </div>
                
                <hr class="col-span-2 border-t-0 border-r-0 border-l-0 border-b border-white border-dotted "/>
                <div class="header-txt col-span-2 border-t-0 border-r-0 border-l-0 border-b border-white border-dotted lg:col-start-2 lg:col-end-3 lg:row-start-1 lg:row-end-3 lg:border-b-0  lg:flex lg:flex-col lg:align-middle lg:justify-center ">
                    <h1 class="nom typing text-center text-3xl py-2">I'm David</h1>
                    <h5 class="subtxt text-center text-sm opacity-75 py-1">Web Developer</h5>
                </div>
            </header>