<aside class=" lg:col-start-3 lg:col-span-6 lg:w-full ">
  <nav class="border-dotted border-t-0 border-l-0 border-r-0 border-b border-white lg:w-full lg:mx-auto lg:border-0">
    <ul class="grid grid-cols-5 gap-0 py-4 text-xs h-24 ">
      <li class="  border-dotted border-t-0 lg:border-l border-r-0 lg:border-b border-white">
        <a href="/" class="link w-full h-full flex justify-center items-center flex-col">
          <span aria-label="about-me picture illustration" class="link-img w-8 h-8">
            
            <svg
              class="w-8 h-8"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              
              version="1.1"
              width="512"
              height="512"
              x="0"
              y="0"
              viewBox="0 0 480.001 480.001"
              style="enable-background: new 0 0 512 512"
              xml:space="preserve"
            >
              <g>
                <path
                  xmlns="http://www.w3.org/2000/svg"
                  d="m319.427 342.172c-11.782 0-22.472-6-28.594-16.051-2.299-3.774-7.222-4.97-10.994-2.671-3.772 2.298-4.969 7.221-2.67 10.994 4.258 6.99 10.022 12.634 16.732 16.673l-8.291 37.627-19.989-23.017c3.629-4.172 2.753-9.046-.373-11.764-3.332-2.898-8.386-2.547-11.286.787l-14.066 16.176-35.432-39.369c3.015-5.79 4.843-12.146 5.365-18.77 68.574 20.186 137.171-31.569 137.171-102.662v-66.125c0-4.418-3.582-8-8-8s-8 3.582-8 8v66.125c0 50.177-40.822 91-91 91s-91-40.822-91-91v-67.893c19.503-1.107 36.092-13.352 42.004-35.544 33.31 21.332 70.648 35.153 109.832 40.638 4.392.612 8.422-2.451 9.032-6.814.612-4.375-2.438-8.419-6.813-9.032-39.9-5.585-78.836-20.518-113.433-45.01-5.289-3.746-12.654.065-12.622 6.581.001.199-.074 20.04-15.124 29.094-9.517 5.726-19.143 3.877-20.799 3.859-4.089-.039-7.554 3.029-8.02 7.076-.088.774-.057-1.861-.057 64.016-5.344-2.772-9-8.288-9-14.636v-97.46c0-10.477 8.523-19 19-19 3.271 0 6.213-1.992 7.428-5.029 10.928-27.319 37-44.971 66.424-44.971h68.607c39.449 0 71.541 32.093 71.541 71.541v94.919c0 4.418 3.582 8 8 8s8-3.582 8-8v-94.919c0-48.27-39.27-87.541-87.541-87.541h-68.607c-34.32 0-64.917 19.63-79.285 50.421-16.728 2.619-29.567 17.128-29.567 34.579v97.46c0 15.305 10.708 28.168 25.081 31.621 1.493 40.859 26 75.943 60.919 92.639v2.11c0 8.913-3.476 17.287-9.787 23.581-11.193 11.161-25.298 9.761-23.642 9.761-45.636 0-82.571 36.93-82.571 82.571v47.257c0 4.418 3.582 8 8 8s8-3.582 8-8v-47.257c0-36.795 29.775-66.572 66.573-66.571 3.501 0 6.996-.372 10.452-1.111l11.163 50.66c1.413 6.415 9.551 8.476 13.853 3.524l15.761-18.148-9.739 77.911c-.548 4.384 2.563 8.382 6.946 8.93 4.392.547 8.383-2.568 8.931-6.946l11.255-90.041c.509.565 4.956 5.552 5.526 6.055 3.302 2.898 8.332 2.604 11.268-.707 1.582-1.811-2.51 2.892 4.798-5.512l11.275 90.204c.547 4.378 4.537 7.494 8.931 6.946 4.384-.548 7.494-4.546 6.946-8.93l-9.739-77.911 15.761 18.148c4.308 4.961 12.442 2.88 13.853-3.524l11.163-50.662c3.389.72 6.883 1.112 10.451 1.112 36.794.001 66.572 29.775 66.572 66.573v47.257c0 4.418 3.582 8 8 8s8-3.582 8-8v-47.257c0-45.637-36.931-82.573-82.573-82.571zm-125.037 46.572-8.293-37.638c3.05-1.842 5.911-4.035 8.548-6.543l19.396 21.552z"
                  fill="#000000"
                  data-original="#000000"
                  style=""
                />
              </g>
            </svg>
          </span>
          <span class="link-txt">About Me</span>
        </a>
      </li>
      <li class="  border-dotted border-t-0 lg:border-l border-r-0 lg:border-b border-white">
        <a href="/resume" class="link link-div w-full h-full flex justify-center items-center flex-col">
          <span aria-label="document picture illustration" class="link-img w-8 h-8">
            
            <svg
              class="w-8 h-8"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              
              version="1.1"
              width="512"
              height="512"
              x="0"
              y="0"
              viewBox="0 0 480 480"
              style="enable-background: new 0 0 512 512"
              xml:space="preserve"
            >
              <g>
                <g xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path
                      d="M160,344h-16c-4.418,0-8,3.582-8,8s3.582,8,8,8h16c4.418,0,8-3.582,8-8S164.418,344,160,344z"
                      fill="#000000"
                      data-original="#000000"
                      style=""
                    />
                  </g>
                </g>
                <g xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path
                      d="M384,344H192c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8S388.418,344,384,344z"
                      fill="#000000"
                      data-original="#000000"
                      style=""
                    />
                  </g>
                </g>
                <g xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path
                      d="M160,296h-16c-4.418,0-8,3.582-8,8s3.582,8,8,8h16c4.418,0,8-3.582,8-8S164.418,296,160,296z"
                      fill="#000000"
                      data-original="#000000"
                      style=""
                    />
                  </g>
                </g>
                <g xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path
                      d="M384,296H192c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8S388.418,296,384,296z"
                      fill="#000000"
                      data-original="#000000"
                      style=""
                    />
                  </g>
                </g>
                <g xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path
                      d="M160,248h-16c-4.418,0-8,3.582-8,8s3.582,8,8,8h16c4.418,0,8-3.582,8-8S164.418,248,160,248z"
                      fill="#000000"
                      data-original="#000000"
                      style=""
                    />
                  </g>
                </g>
                <g xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path
                      d="M384,248H192c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8S388.418,248,384,248z"
                      fill="#000000"
                      data-original="#000000"
                      style=""
                    />
                  </g>
                </g>
                <g xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path
                      d="M160,200h-16c-4.418,0-8,3.582-8,8s3.582,8,8,8h16c4.418,0,8-3.582,8-8S164.418,200,160,200z"
                      fill="#000000"
                      data-original="#000000"
                      style=""
                    />
                  </g>
                </g>
                <g xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path
                      d="M384,200H192c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8S388.418,200,384,200z"
                      fill="#000000"
                      data-original="#000000"
                      style=""
                    />
                  </g>
                </g>
                <g xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path
                      d="M160,152h-16c-4.418,0-8,3.582-8,8s3.582,8,8,8h16c4.418,0,8-3.582,8-8S164.418,152,160,152z"
                      fill="#000000"
                      data-original="#000000"
                      style=""
                    />
                  </g>
                </g>
                <g xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path
                      d="M384,152H192c-4.418,0-8,3.582-8,8s3.582,8,8,8h192c4.418,0,8-3.582,8-8S388.418,152,384,152z"
                      fill="#000000"
                      data-original="#000000"
                      style=""
                    />
                  </g>
                </g>
                <g xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path
                      d="M439.896,119.496c-0.04-0.701-0.177-1.393-0.408-2.056c-0.088-0.256-0.152-0.504-0.264-0.752    c-0.389-0.87-0.931-1.664-1.6-2.344l-112-112c-0.68-0.669-1.474-1.211-2.344-1.6c-0.248-0.112-0.496-0.176-0.744-0.264    c-0.669-0.23-1.366-0.37-2.072-0.416C320.328,0.088,320.176,0,320,0H96c-4.418,0-8,3.582-8,8v24H48c-4.418,0-8,3.582-8,8v432    c0,4.418,3.582,8,8,8h336c4.418,0,8-3.582,8-8v-40h40c4.418,0,8-3.582,8-8V120C440,119.824,439.912,119.672,439.896,119.496z     M328,27.312L412.688,112H328V27.312z M376,464H56V48h32v376c0,4.418,3.582,8,8,8h280V464z M424,416H104V16h208v104    c0,4.418,3.582,8,8,8h104V416z"
                      fill="#000000"
                      data-original="#000000"
                      style=""
                    />
                  </g>
                </g>
                <g xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path
                      d="M192,72h-48c-4.418,0-8,3.582-8,8v48c0,4.418,3.582,8,8,8h48c4.418,0,8-3.582,8-8V80C200,75.582,196.418,72,192,72z     M184,120h-32V88h32V120z"
                      fill="#000000"
                      data-original="#000000"
                      style=""
                    />
                  </g>
                </g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
              </g>
            </svg>
          </span>
          <span class="link-txt">Resumé</span>
        </a>
      </li>
      <li class="  border-dotted border-t-0 lg:border-l border-r-0 lg:border-b border-white">
        <a href="/portfolio" class="link link-div w-full h-full flex justify-center items-center flex-col">
          <span aria-label="portfolio picture illustration" class="link-img w-8 h-8">
            <svg
              class="w-8 h-8"
              id="_x31_"
              enable-background="new 0 0 24 24"
              height="512"
              viewBox="0 0 24 24"
              width="512"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <path
                  d="m17.453 24c-.168 0-.34-.021-.51-.066l-15.463-4.141c-1.06-.292-1.692-1.39-1.414-2.45l1.951-7.272c.072-.267.346-.422.612-.354.267.071.425.346.354.612l-1.95 7.27c-.139.53.179 1.082.71 1.229l15.457 4.139c.531.14 1.079-.176 1.217-.704l.781-2.894c.072-.267.346-.426.613-.353.267.072.424.347.353.613l-.78 2.89c-.235.89-1.045 1.481-1.931 1.481z"
                />
              </g>
              <g>
                <path
                  d="m22 18h-16c-1.103 0-2-.897-2-2v-12c0-1.103.897-2 2-2h16c1.103 0 2 .897 2 2v12c0 1.103-.897 2-2 2zm-16-15c-.551 0-1 .449-1 1v12c0 .551.449 1 1 1h16c.551 0 1-.449 1-1v-12c0-.551-.449-1-1-1z"
                />
              </g>
              <g>
                <path
                  d="m9 9c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm0-3c-.551 0-1 .449-1 1s.449 1 1 1 1-.449 1-1-.449-1-1-1z"
                />
              </g>
              <g>
                <path
                  d="m4.57 16.93c-.128 0-.256-.049-.354-.146-.195-.195-.195-.512 0-.707l4.723-4.723c.566-.566 1.555-.566 2.121 0l1.406 1.406 3.892-4.67c.283-.339.699-.536 1.142-.54h.011c.438 0 .853.19 1.139.523l5.23 6.102c.18.209.156.525-.054.705-.209.18-.524.157-.705-.054l-5.23-6.102c-.097-.112-.231-.174-.38-.174-.104-.009-.287.063-.384.18l-4.243 5.091c-.09.108-.221.173-.362.179-.142.01-.277-.046-.376-.146l-1.793-1.793c-.189-.188-.518-.188-.707 0l-4.723 4.723c-.097.097-.225.146-.353.146z"
                />
              </g>
            </svg>
          </span>
          <span class="link-txt">Portfolio</span>
        </a>
      </li>
      <li class="  border-dotted border-t-0 lg:border-l border-r-0 lg:border-b border-white">
        <a href="/contact" class="link link-div w-full h-full flex justify-center items-center flex-col">
          <span aria-label="contact picture illustration" class="link-img w-8 h-8">
            
            <svg class="w-8 h-8"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              
              version="1.1"
              width="512"
              height="512"
              x="0"
              y="0"
              viewBox="0 0 512 512"
              style="enable-background: new 0 0 512 512"
              xml:space="preserve"
            >
              <g>
                <g xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path
                      d="M256,0C156.748,0,76,80.748,76,180c0,33.534,9.289,66.26,26.869,94.652l142.885,230.257    c2.737,4.411,7.559,7.091,12.745,7.091c0.04,0,0.079,0,0.119,0c5.231-0.041,10.063-2.804,12.75-7.292L410.611,272.22    C427.221,244.428,436,212.539,436,180C436,80.748,355.252,0,256,0z M384.866,256.818L258.272,468.186l-129.905-209.34    C113.734,235.214,105.8,207.95,105.8,180c0-82.71,67.49-150.2,150.2-150.2S406.1,97.29,406.1,180    C406.1,207.121,398.689,233.688,384.866,256.818z"
                      fill="#000000"
                      data-original="#000000"
                      style=""
                    />
                  </g>
                </g>
                <g xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path
                      d="M256,90c-49.626,0-90,40.374-90,90c0,49.309,39.717,90,90,90c50.903,0,90-41.233,90-90C346,130.374,305.626,90,256,90z     M256,240.2c-33.257,0-60.2-27.033-60.2-60.2c0-33.084,27.116-60.2,60.2-60.2s60.1,27.116,60.1,60.2    C316.1,212.683,289.784,240.2,256,240.2z"
                      fill="#000000"
                      data-original="#000000"
                      style=""
                    />
                  </g>
                </g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
                <g xmlns="http://www.w3.org/2000/svg"></g>
              </g>
            </svg>
          </span>
          <span class="link-txt">Contact Me</span>
        </a>
      </li>
      <li class="  border-dotted border-t-0 lg:border-l lg:border-r lg:border-b border-white">
        <a href="/blog" class="link link-div w-full h-full flex justify-center items-center flex-col">
          <span aria-label="blog picture illustration" class="link-img w-8 h-8">
            
            <svg class="w-8 h-8"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              
              version="1.1"
              width="512"
              height="512"
              x="0"
              y="0"
              viewBox="0 0 496 496"
              style="enable-background: new 0 0 512 512"
              xml:space="preserve"
            >
              <g>
                <path
                  xmlns="http://www.w3.org/2000/svg"
                  d="m398.855469 145.113281c.761719-5.664062 1.144531-11.394531 1.144531-17.113281 0-70.574219-57.425781-128-128-128-51.273438 0-97.257812 30.632812-117.382812 77.167969-15.449219-8.640625-32.761719-13.167969-50.617188-13.167969-57.34375 0-104 46.65625-104 104 0 45.089844 28.472656 84.175781 70.40625 98.375-4.214844 9.28125-6.40625 19.359375-6.40625 29.625 0 39.703125 32.304688 72 72 72 9.910156 0 19.734375-2.089844 28.832031-6.078125 18.144531 33.109375 53.0625 54.078125 91.167969 54.078125 38.0625 0 73.078125-21.039062 91.207031-54.191406 11.800781 4.113281 24.144531 6.191406 36.792969 6.191406 61.761719 0 112-50.238281 112-112 0-56.496094-42-103.59375-97.144531-110.886719zm-14.855469 206.886719c-13.015625 0-25.648438-2.566406-37.550781-7.632812-3.976563-1.703126-8.609375.097656-10.417969 4.039062-14.277344 31.347656-45.695312 51.59375-80.03125 51.59375-34.617188 0-66.136719-20.464844-80.304688-52.136719-.925781-2.078125-2.695312-3.664062-4.863281-4.351562-.792969-.253907-1.617187-.382813-2.433593-.382813-1.40625 0-2.8125.375-4.054688 1.101563-8.640625 5.082031-18.441406 7.769531-28.34375 7.769531-30.878906 0-56-25.128906-56-56 0-10.71875 3.089844-21.175781 8.929688-30.246094 1.40625-2.1875 1.664062-4.921875.6875-7.339844-.976563-2.40625-3.066407-4.191406-5.601563-4.78125-40.046875-9.320312-68.015625-44.527343-68.015625-85.632812 0-48.519531 39.480469-88 88-88 17.953125 0 35.257812 5.414062 50.023438 15.648438 2.046874 1.421874 4.65625 1.808593 7.046874 1.023437 2.378907-.785156 4.257813-2.632813 5.074219-5.007813 15.535157-45.257812 58.078125-75.664062 105.855469-75.664062 61.761719 0 112 50.238281 112 112 0 7.617188-.777344 15.238281-2.296875 22.671875-.472656 2.28125.082031 4.65625 1.503906 6.496094 1.425781 1.839843 3.585938 2.976562 5.914063 3.105469 50.957031 2.679687 90.878906 44.734374 90.878906 95.726562 0 52.9375-43.0625 96-96 96zm0 0"
                  fill="#000000"
                  data-original="#000000"
                  style=""
                />
                <path
                  xmlns="http://www.w3.org/2000/svg"
                  d="m288 200h16v16h-16zm0 0"
                  fill="#000000"
                  data-original="#000000"
                  style=""
                />
                <path
                  xmlns="http://www.w3.org/2000/svg"
                  d="m256 200h16v16h-16zm0 0"
                  fill="#000000"
                  data-original="#000000"
                  style=""
                />
                <path
                  xmlns="http://www.w3.org/2000/svg"
                  d="m224 200h16v16h-16zm0 0"
                  fill="#000000"
                  data-original="#000000"
                  style=""
                />
                <path
                  xmlns="http://www.w3.org/2000/svg"
                  d="m192 200h16v16h-16zm0 0"
                  fill="#000000"
                  data-original="#000000"
                  style=""
                />
                <path
                  xmlns="http://www.w3.org/2000/svg"
                  d="m24 448c-13.230469 0-24 10.769531-24 24s10.769531 24 24 24 24-10.769531 24-24-10.769531-24-24-24zm0 32c-4.40625 0-8-3.585938-8-8s3.59375-8 8-8 8 3.585938 8 8-3.59375 8-8 8zm0 0"
                  fill="#000000"
                  data-original="#000000"
                  style=""
                />
                <path
                  xmlns="http://www.w3.org/2000/svg"
                  d="m88 376c-22.054688 0-40 17.945312-40 40s17.945312 40 40 40 40-17.945312 40-40-17.945312-40-40-40zm0 64c-13.230469 0-24-10.769531-24-24s10.769531-24 24-24 24 10.769531 24 24-10.769531 24-24 24zm0 0"
                  fill="#000000"
                  data-original="#000000"
                  style=""
                />
                <path
                  xmlns="http://www.w3.org/2000/svg"
                  d="m272 32v16c44.113281 0 80 35.886719 80 80h16c0-52.9375-43.0625-96-96-96zm0 0"
                  fill="#000000"
                  data-original="#000000"
                  style=""
                />
              </g>
            </svg>
          </span>
          <span class="link-txt">Blog</span>
        </a>
      </li>
    </ul>
  </nav>
