<div class="<%= id %> hidden absolute top-20 left-4 bg-white w-10/12 h-64 flex justify-center items-center flex-col border border-solid border-black md:w-6/12 md:left-40 lg:w-5/12 lg:top-10 lg:left-48" >
    <img src="<%= image %>" alt="<%= id %> " class="w-5/12 h-32">
    <p class="text-black pt-4 font-bold px-2 mx-auto text-center text-gray-500" id="<%= id %>">Status: Something happened</p>
</div>