</aside>


<!--
<span class="heart">â¤
-->


<!-- day one ends @ 12.10am 2020/12/22
-->
</div>
<footer>
    &copy 2020 <span class="angles"><</span> <span class="bld">youngBlood</span><span class="angles">/></span> Agency
</footer>



<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/scripts/main.js"></script>
</body>
</html>