<!DOCTYPE html>
<!--Date: 2020/12/21 Author: AKDA Time Started: 10.32pm-->
<!--day 2: 23/12/2020 3.13 start-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Adewumi David</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/nav.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/about.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/portfolio.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/header.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/resume.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/contact.css">
</head>
<body>
    <div class="build">
            <header>
                <div class="icon"></div>
                <div class="header-txt">
                    <h1 class="nom typing">I'm David</h1>
                    <h5 class="subtxt">Web Developer</h5>
                </div>
                <hr />
                <div class="header-link">
                    <a href="#" id="fb" class="contact-link">fb</a>
                    <a href="#" id="linkedin" class="contact-link">Li</a>
                    <a href="mailto: Davidak.a@yahoo.com?subect = You're Amazing ;)" id="mail" class="contact-link">mail</a>
                </div>
            </header>