<%- include('./partials/header') -%>
<%- include('./partials/nav') -%> 

<article id="about" class="about-me">
    <div class="container">
        <section class="abt-section">
            <h3>About Info</h3>
            <div class="about-content">
                <span class="items">
                    <p class="label">Full Name:</p>
                    <p class="attr">Adewumi David</p>
                </span>
                <span class="items">
                    <p class="label">Birthday:</p>
                    <p class="attr">05 November 1996</p>
                </span>
                <span class="items">
                    <p class="label">Address:</p>
                    <p class="attr">Ogun State, Nigeria.</p>
                </span>
                <span class="items">
                    <p class="label">Day Job:</p>
                    <p class="attr">Freelance Web Developer</p>
                </span>
            </div>
        </section>
        <section class="mem">
            <h3>Memoir</h3>
            <div class="bio">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos quasi pariatur unde non. Aspernatur atque molestiae enim fugit dolores laborum quaerat reprehenderit nihil facere hic. Repudiandae placeat fugiat aut ut aspernatur animi modi laboriosam cupiditate quaerat facere facilis alias illum ex fugit earum consequatur, maiores maxime, rem fuga, ipsum corporis?</p>
            </div>
        </section>
    </div>
</article>

<%- include('./partials/footer') -%> 


