<%- include('./partials/header') -%>
<%- include('./partials/nav') -%>

<article class="portfolio scroll">
    <section>
        <div class="slot bg-white mt-4 ">
            <img src="/images/img-3.jpeg" alt="Image 3" class="pics">
            <div class="info text-black p-1">
                <h4 class="text-lg font-bold border border-dotted border-t-0 border-l-0 border-r-0 border-black">Fortnight Journal</h4>
                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente corporis</p>
            </div>
        </div>
        <div class="slot bg-white mt-4 ">
            <img src="/images/img-1.jpg" alt="Image 1" class="pics">
            <div class="info text-black p-1">
                <h4 class="text-lg font-bold border border-dotted border-t-0 border-l-0 border-r-0 border-black">EasyCare Nigeria</h4>
                <p class="text-sm">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="slot bg-white mt-4 ">
            <img src="/images/img-2.JPG" alt="Image 2" class="pics">
            <div class="info text-black p-1">
                <h4 class="text-lg font-bold border border-dotted border-t-0 border-l-0 border-r-0 border-black">TicTacToe Online Multiplayer</h4>
                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing </p>
            </div>
        </div>
        
        <div class="slot bg-white mt-4 ">
            <video src="/clips/vid-1.mp4" autoplay loop muted class="vids"></video>
            <div class="info text-black p-1">
                <h4 class="text-lg font-bold border border-dotted border-t-0 border-l-0 border-r-0 border-black">Recipe App</h4>
                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="slot bg-white mt-4 ">
            <video src="/clips/vid-2.mp4" autoplay loop muted class="vids"></video>
            <div class="info text-black p-1">
                <h4 class="text-lg font-bold border border-dotted border-t-0 border-l-0 border-r-0 border-black">Video Streaming Web App</h4>
                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecat</p>
            </div>
        </div>
        
    </section>

    <a href="/portfolio" >
        <h4 class="p-3 mt-3 border-dotted border-2 rounded-sm w-56 hover:bg-white hover:text-black text-xs">
            Want to know what I'm thinking
            <i class="fa fa-solid fa-arrow-right text-white px-2 hover:text-black"></i>
        </h4>
    </a>
</article>

<%- include('./partials/footer') -%>