<%- include('./partials/header') -%>
<%- include('./partials/nav') -%>

<article class="portfolio scroll">
    <section>
        <div class="slot">
            <div class="info">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat cumque earum delectus! Sint asperiores dolor, vero neque, non suscipit officia ipsa enim culpa laudantium fugiat! Iusto, suscipit. Totam dolor quod iure adipisci ullam excepturi cumque, possimus corporis consectetur velit labore!</p>
            </div>
            <div class="info-i"><img src="/images/img-1.jpg" alt="Image 1" class="pics"></div>
        </div>
        <div class="slot">
            <div class="info">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quae vel deserunt, quisquam quam doloremque perspiciatis consectetur sit odio laudantium voluptas deleniti debitis nisi laborum doloribus odit, ducimus autem, dolor assumenda facere quaerat dolores! Nisi veniam ullam aliquam laudantium vero.</p>
            </div>
            <div class="info-i"><img src="/images/img-2.jpg" alt="Image 2" class="pics"></div>
        </div>
        <div class="slot">
            <div class="info">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente corporis suscipit provident eius voluptatibus nulla quidem velit, architecto animi sint nobis ex aliquid atque tenetur possimus nostrum inventore! Quam quasi labore sit quas veritatis in adipisci doloremque perferendis accusantium pariatur.</p>
            </div>
            <div class="info-i"><img src="/images/img-3.jpeg" alt="Image 3" class="pics"></div>
        </div>
        <div class="slot">
            <div class="info">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui voluptatem recusandae nihil laboriosam ullam esse quis ducimus cum numquam, quas minus hic assumenda blanditiis consequuntur, repellat sunt ipsam incidunt vitae, illum id culpa dignissimos. Quo voluptatum dicta voluptas hic ab?</p>
            </div>
            <div-info-i><video src="/clips/vid-1.mp4" autoplay loop muted class="vids"></video></div-info-i>
        </div>
        <div class="slot">
            <div class="info">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptatibus similique id sapiente unde eligendi aut omnis impedit exercitationem amet! Adipisci harum similique dolor sapiente non fugit quidem ad, amet, assumenda, id dicta aut quaerat voluptates consequuntur esse commodi tempore.</p>
            </div>
            <div class="info-i"><video src="/clips/vid-2.mp4" autoplay loop muted class="vids"></video></div>
        </div>
        
    </section>
</article>

<%- include('./partials/footer') -%>