<%- include('./partials/header') -%>

<div class="border border-dotted h-[32rem]  md:w-10/12 md:h-full md:col-span-6 flex items-center justify-center">
    <p class="bg-404-gif bg-no-repeat w-full h-60 md:bg-cover md:w-8/12 md:h-80 font-bold text-xl px-4 py-2">
        you seem lost? <span onclick="history.back()" class="text-black underline cursor-pointer">oya let's go back</span>
    </p>
</div>


<%- include('./partials/footer') -%> 