<%- include('./partials/header') -%>
<%- include('./partials/nav') -%>

<h1 class="h-72 w-11/12 text-lg p-12 mb-8">Coming Soon...</h1>
<div class="h-48 lg:h-0"></div>

<%- include('./partials/footer') -%>