<!DOCTYPE html>
<%- include('./partials/header') -%>

<div class="border-2 border-black w-10/12 h-[32rem] mx-auto flex items-center justify-center mt-10">
    <form action="/adminxyz/login" method="POST" class="border border-black p-6">
        <label for="mail" class="block ">Mail</label>
        <input type="email" name="mail" id="mail" class="block w-60 py-1 px-3 text-xs border border-black" required/>

        <label for="key" class="mt-4 block ">Password</label>
        <input type="password" name="password" id="key" class="block w-60 py-1 px-3 text-xs border border-black" required/>

        <% if(errors) {  %>
            <p class="text-red-500 font-bold mt-2"> invalid credentials</p>
        <% } %>  

        <button type="submit" class="my-4 py-2 px-5 border border-black rounded-lg cursor-pointer hover:bg-black hover:text-white">Login</button>
    </form>
</div>

<%- include('./partials/footer') -%> 