<%- include('./partials/header') -%>

<div>
    <img src="" alt="" />profile_pic
    <input type="text" name="full_name" id="" />
    <input type="text" name="job" id="" />
    <input type="text" name="dob" id="" />
    <input type="text" name="bio" id="" />
    <input type="text" name="location" id="" />
    <input type="email" name="mail" id="" />
    <input type="text" name="" id="" />
    <input type="text" name="" id="" />
    <input type="text" name="" id="" />
    <input type="text" name="" id="" />
</div>

<%- include('./partials/footer') -%> 