:root{
    --primary: #fff;
    --sec: #000;
    --other: rgba(255, 255, 255, 0.685)
}

.about-me > h1{
    font-size: 1.3rem;
    padding: 1.5%;
    border-bottom: 1px dotted var(--primary);
}

.container{
    display: flex;
}
.abt-section > h3{
    font-size: 1.2rem;
    padding: 5% ;
    border-bottom: 1px dotted var(--primary);
    
}
.abt-section{
    width: 35%;
    height: 20rem;
}
.abt-section .items{
    display: block;
    padding: 5%;
}
.items{
    border-bottom: 1px dotted var(--primary);
}
.label, .attr, .skill-label{
    display: inline-block;
    font-size: 1.1rem;
}
.label, .skill-label{
    font-weight: bold;
}
.attr{
    padding-left: 1%;
    font-size: 1rem;
    font-weight: 600;
    opacity: 0.8;
}
.mem{
    width: 65%;
    border-left: 1px dotted var(--primary);
}
.mem > h3{
    font-size: 1.2rem;
    padding: 2.65% 5%;
}
.bio{
    border-top: 1px dotted var(--primary);
}
.bio{
    padding: 5% 2%;
    text-align: center;
    text-justify: inter-word;
    font-size: 1.1rem;
    word-spacing: 1.1rem;
    
}

@media screen and (min-width:320px) and (max-width:425px){

}

/*extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}