* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 99vh;
    overflow-y: hidden;
    background: #000;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.685);
}

.build{
    width: 95%;
    margin: 2% auto;
    background: #000;
    display: flex;

}

aside{
    width: 80%;
    margin: 0 0 0 2%;
}
article{
    color: rgba(255, 255, 255, 0.685);
    border-left: 1px dotted #737373;
    height: 31rem;
    padding: 3%;
    margin: 0 1.5%;

}

.scroll{
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 2px #737373;
    background-color: #000;
}
::-webkit-scrollbar-thumb{
    background-color: #737373;
}

hr{
    border-top: none;
    border-bottom: 1px dotted #000;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.671);
    color: #000;
    font-size: 0.9rem;
    font-weight: 100;
    text-align: center;
    padding: 1% 0 1% 0;
}
.bld{
    color: rgb(3, 121, 3);
}
.angles{
    color: rgba(128, 0, 0, 0.897);
}





















.section-header{
    color: rgba(4, 128, 0, 0.973);
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    text-align: left;
}
td{
    padding: 10px;
    margin: 0px;
}
.odd-row{
    background-color: #00ff0e61;
}
.star{
    color: gold;
}
.last{
    display: inline-block;
    margin: 0px;
    padding: 0px 10px 0px 0px;
    text-decoration: underline;
}