<!--Date: 2022/11/02 Author: AKDA Time Started: 16.36pm-->
<html>
<head>
    <title>Adewumi David</title>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="javascript-developer, nodejs-developer, react-developer, nextjs-developer, software engineer, adewumi david, bells university of technology, AKDA">
    <meta name="author" content="Adewumi David Adewale">
    <meta name="description" content="Welcome to my website. I am a web developer with experience working with Node.js, React.js, Next.js, Vue.js, Nuxt.js, Express, MongoDb, and Tailwind for CSS-processing">
    
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/3e9f61bf13.js" crossorigin="anonymous" defer></script>    

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">

    <!-- stylesheets -->
    
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/stylesheets/style.css">

