<nav class="bg-purple-400 w-full h-screen col-span-2 px-2">
    <ul class="mt-12">
        <a href="/dashboard">
            <li class="cursor-pointer text-lg hover:text-white border border-black mb-4 py-3 px-2 hover:border-white"><i class="scale-[1.2] mr-2 fas fa-user-alt"></i> about</li></a>
        <a href="/dashboard/resume">
            <li class="cursor-pointer text-lg hover:text-white border border-black mb-4 py-3 px-2 hover:border-white"><i class="scale-[1.2] mr-2 far fa-address-card"></i> resume</li></a>
        <a href="/dashboard/portfolio">
            <li class="cursor-pointer text-lg hover:text-white border border-black mb-4 py-3 px-2 hover:border-white"><i class="scale-[1.2] mr-2 fas fa-folder-open"></i> portfolio</li></a>
    </ul>
</nav>